*{
    margin: 0;
    padding: 0;
   
}
.container{
    border:10px solid #1d1e4c;
    padding:60px 250px;
    background-color: #e5e5fd;
}
.head{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 70px;
}
.image{
    width: 300px;
    height: 300px;
    overflow: hidden;
    
    
}
#img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}

.head div h1{
    font-size: 50px;
    line-height: 5px;

}
.head div h3
{
    font-size: 30px;
    text-align: end;
}

 h1{
    font-size: 70px;
    margin: 10px 0px;
} 

#maincontent{
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: justify;
}
h3{
    margin: 35px 0px;
}
.list{
    margin-left: 50px;
    list-style: 20px;
}
.li{
    margin-bottom: 30px;
}
footer{
    margin-top: 40px;
    text-align: end;
}
@media  screen and (min-width:760px) and (max-width:1305px) {
    .container{
        border:5px solid #1d1e4c;
        padding:30px 50px;
        background-color: #e5e5fd;
    }
    .head{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 70px;
    }
    .image{
        width: 250px;
        height: 250px;
        overflow: hidden;
        
        
    }
    #img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        
    }
    
    .head div h1{
        font-size: 40px;
        line-height: 5px;
    
    }
    .head div h3
    {
        font-size: 20px;
        text-align: end;
    }
}
@media screen and  (max-width:759px)
{
    .container{
        border:2px solid #1d1e4c;
        padding:10px 15px;
        background-color: #e5e5fd;
    }
    .head{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
        align-items: center;
        
    }
    .image{
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
        
    }
    #img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        
    }
    
    .head div h1{
        font-size: 30px;
        line-height: 5px;
    
    }
    .head div h3
    {
        font-size: 20px;
        text-align: center;
    }
    h1{
        font-size: 40px;
        margin: 20px 0px;
    }
    #maincontent{
        font-size: 18px;
        line-height: 30px;
        text-align: justify;
    }
    footer{
        margin: 40px;
        text-align: center;
    }
}